html, body{
    background-color: #9BA8AB;
    height: 100%;
    margin: 0;
}
.wrapper{
    min-height: 100%;
    margin-bottom: -190px;
}

 /*CSS para el navbar*/
.nav-tag{
    background-color: #11212D;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    text-align: left;
    color: white;
    font-size: 25px;
    padding: 10px;
}
#logo{
    width: 50px;
    height: 50px;

}
.navbar-li{
    text-align: right;
    display: inline;
    font-size: 25px;
    padding: 10px;
}
.navbar-li a{
    text-decoration: none;
    color: white;
}
.navbar-li a:hover, .navbar-logo:hover{
    color: lightgray;
}

/*CSS para el body (presentacion)*/
.myself{
    background-color: #253745;
    display: block;
    padding: 40px;
}
#name{
    color: #CCD0CF;
    font-size: 50px;
    text-align: center;
    padding: 20px;

}
#description{
    color: #CCD0CF;
    font-size: 30px;
    width: 100%;
    padding: 10px;
}

/*CSS para el body (mis proyectos)*/
.title-proyects{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

/*CSS para las cartas de los proyectos*/
.row-cards{
    display: flex;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 10px;
    width: 25%;
    height: 20%;
    margin: 30px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.container {
    padding: 5px 16px;
    height: 550px;
}
.card-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70%;
}
.tittle-cards{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.text-cards{
    font-size: 20px;
    color: black;
    text-align: center;

}
.info-cards{
    font-size: 90%;
    color: black;
    text-align: center;
    width: 90%;
}
.buttons{
    text-align: center;
}
.button-cards{
    background-color: #4f9e9e;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 45%;
    margin: 5px;

}

/*CSS para el footer*/
.push{
    height: 190px;
}
.footer{
    background-color: #253745;
    height: 190px;
    width: 100%;
    /*display: block;*/
    text-align: center;
}

#photo-cool{
    border-radius: 50%;
    margin-top: 10px;
    width: 90px;
    height: 90px;
}

.footer-icons img{
    width: 60px;
    height: 60px;
}